<aside>
  <div id="googleAd">
  </div>
  <div id="nav">
    <div class="left">
      <a routerLink="/">
    <i class="fonti um-close"></i>
  </a>
    </div>
    <div class="center">
      <a (click)="animationState.state = 'search'" [ngClass]="{'active' : animationState.state == 'search' || animationState.state != 'display'}">제품검색</a>
      <a (click)="animationState.state = 'display'" [ngClass]="{'active' : animationState.state == 'display'}">상품보기</a>
    </div>
    <div class="right">
      <a routerLink="/match"></a>
    </div>
  </div>
</aside>

<section>
  <app-search [@search-state]="animationState.state"></app-search>
  <div id="no-selected-product" *ngIf="animationState.show_no_selected_product">
    <img src="assets/images/no-result.png">
  </div>
  <router-outlet></router-outlet>
</section>
<!-- <p style="text-align:center;">현재 개편작업중입니다. 불편을 드려 죄송합니다.</p> -->