:host{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
aside{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100px;
}
aside #googleAd{
    text-align: center;
    width: 100%;
    height: 50%;
}
aside #nav{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
aside .left{
    flex:1;
    text-align: left;
    padding-left: 10px;
}
aside .right{
    flex: 1;
    padding-right: 10px;
}
aside .center{
    flex: 5;
    text-align: center;
}
aside .center a
{
    font-size: 12px;
    font-weight: 400;
    color: #888;
    border-radius: 20px;
    text-decoration: none;
    outline: none;
    padding: 6px 20px;
}
aside .center a.active,
aside .center a:hover
{
    color: #333;
    background: rgba(242, 242, 242, 0.87);
    transition-timing-function: ease-in;
    transition: 0.8s;
}
section{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
     background-color: #f2f4f7;
}
#no-selected-product{
    display: flex;
width: 100%;
height: 100%;
align-content: center;
justify-content: center;
align-items: center;
}
#no-selected-product img{
    max-width: 320px;
}