<app-eartip-figure app-elastic-scroll (emitArticleIndex)="articleIndex = $event" *ngIf="productList" [productList]="productList"></app-eartip-figure>
<div id="list-not-found" *ngIf="!productList">
  <strong>호환가능한 제품이 없습니다.</strong>
</div>
<article [@article-state]="article">
  <!-- <a class="section-opener" (click)="article = 'show'" *ngIf="article == 'hide'">
    <i class="fonti um-angle-o-up"></i>
  </a>
  <a class="section-opener" (click)="article = 'hide'" *ngIf="article == 'show'">
    <i class="fonti um-angle-o-down"></i>
  </a> -->
  <div id="product-info" *ngIf="productList[articleIndex] && model.target">
    <h2 *ngIf="productList[articleIndex].nickname; else noNickName">
      {{productList[articleIndex].nickname}}
    </h2>
    <ng-template #noNickName>
      <h2>
        {{productList[articleIndex].name}}
      </h2>
    </ng-template>
    <h3>{{model.target.name}}
      <small>에 사용 가능</small>
    </h3>
    <section class="article-links">
      <a class="buy" [href]="sanitizeUrl(productList[articleIndex].href)" target="_blank" [ngClass]="{'can-active' : !model.target.href}">구매하기</a>
      <a class="more" [href]="sanitizeUrl(productList[articleIndex].description_url)" target="_blank" [ngClass]="{'can-active' : !model.target.description_url}">더 알아보기</a>
    </section>
  </div>
  <!-- <section class="description">
      {{productList[articleIndex].description}}
    </section> -->
  <div *ngIf="!productList[articleIndex]" style="text-align: center;">
    <strong>사용 가능한 제품이 없습니다.</strong>
  </div>
</article>