:host{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

article{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 170px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .33);
    font-size: 14px;
    color: #333;
    z-index: 450;
}
/* article .section-opener{
    position: absolute;
    display: inline-block;
    width: 45px;
    height: 25px;
    font-size: 14px;
    top: -25px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    text-align: center;
    padding-top: 2px;
} */
article #product-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* max-height: 140px; */
}
article h2{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0.3rem 0;
}
article h3{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 0.3rem 0;
}
article h3 small{
    font-weight: 200;
}
article .article-links{
    display: block;
    margin: 0.6rem 0;
    text-align: center;
}
article .article-links a{
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color: #888;
    border-radius: 20px;
    text-decoration: none;
    outline: none;
    padding: 6px 20px;
    color: #333;
    background: hsla(0, 0%, 95%, .87);
}
article .article-links a.buy{
    background-color: #DD5044;
    color: #fff;
}
article .article-links a.more{

}
article .article-links .can-active{

}
article section.description{
    display: block;
    margin: 20px auto;
    width: 100%;
    height: calc(100% - 140px);
    max-width: 640px;
    overflow-x: hidden;
    overflow-y: auto;
}