<section id="audiopro" *ngIf="visible_target == 'audiopro'">
  <img src="assets/images/document/smartcore.jpg">
  <img src="assets/images/document/audiopro.jpg">
</section>
<section id="sportspro" *ngIf="visible_target == 'sportspro'">
  <img src="assets/images/document/smartcore.jpg">
  <img src="assets/images/document/sportspro.jpg">
</section>
<section id="varietypack" *ngIf="visible_target == 'varietypack'">
  <img src="assets/images/document/smartcore.jpg">
  <img src="assets/images/document/varietypack.jpg">
</section>
<section id="tseries" *ngIf="visible_target == 'tseries'">
  <img src="assets/images/document/tseries01.jpg">
  <img src="assets/images/document/tseries02.jpg">
</section>
<section id="t167" *ngIf="visible_target == 't167'">
  <img src="assets/images/document/t167.jpg">
  <img src="assets/images/document/tseries01.jpg">
  <img src="assets/images/document/tseries02.jpg">
</section>
<section id="tw" *ngIf="visible_target == 'tw'">
  <img src="assets/images/document/smartcore.jpg">
  <img src="assets/images/document/tw01.jpg">
  <img src="assets/images/document/tw02.jpg">
</section>
<section id="sportsproforbeats" *ngIf="visible_target == 'sportsproforbeats'">
  <img src="assets/images/document/sportsproforbeats.jpg">
</section>