<li class="eartip">
<figure [ngClass]="{'visible' : tip.tip_image_file_name}">
  <figcaption>
    <strong>{{tip.nickname}}</strong>
  </figcaption>
  <img *ngIf="tip.tip_image_file_name" class="earphone" src="assets/images/earphone-empty.png" draggable="false">
  <img *ngIf="!tip.tip_image_file_name" class="no-photo" src="assets/images/no-photo.png" draggable="false">
  <img *ngIf="tip.tip_image_file_name" class="product" src="http://static.soundpick.net/eartip/series/{{tip.tip_image_file_name}}" draggable="false">
</figure>
</li>