:host{
    position: relative;
    display: inline-block;
    height: 100%;
}
:host > *{
    -webkit-user-drag:none;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    cursor: -webkit-grabbing;
}
.eartip{
    position: relative;
    display: inline-block;
    width: 640px;
    height: 100%;
    padding: 0 4%;
    margin: 0;
}
@media(max-width:640px){
    .eartip{
        width : 320px;
    }
}
.eartip strong{
    text-align: center;
    display: block;
    width: 100%;
}
.eartip figure{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.eartip figcaption{
    position: absolute;
    display: block;
    top: 1rem;
    left: 0;
    width: 100%;
    text-align: center;

}
.eartip figcaption strong{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    color: #777;
}
.eartip figure img{
    position: absolute;
    max-width: 80%;
    max-height: 80%;
    top: 50%;
    bottom: 50%;
    transform: translate(0, -50%);
    user-select: none;
    -webkit-user-drag: none;
}
.eartip figure img.earphone{
    display: none;
    left: -20%;
    z-index: 400;
}
.eartip figure img.product{
    /* right: 0; */
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    z-index: 401;
}
.eartip figure img.no-photo{
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}