:host{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 500;
}
form{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    z-index: 400;
    background-image: url('/assets/images/search-background.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 50%;
}
#search-input input[type=text]{
    max-width: 50%;
    min-width: 300px;
    margin: 5px;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    box-shadow: none;
    border: none;
    border-radius: 20px;
    background: rgba(10, 10, 10, 0.7);
    color: #fff;
    text-align: center;
}
#search-list{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    overflow-y:scroll;
    height: calc(100% - 50px);
    z-index: 350;
    -webkit-overflow-scrolling: touch;
    padding: 0 1.5%;
}
#search-list ul{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 100px;
}
#search-list ul li{
    display: inline-block;
    width: 150px;
    max-width: calc(50% - 10px);
    height: 150px;
    margin: 5px;
    padding: 0;
    background-color: #fff;
    -webkit-transition: 0.3s;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .33);
    vertical-align: top;
}
#search-list ul li:hover{
    -webkit-transition: 0.3s;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .33);
}
#search-list ul li figure{
    display: block;
    margin: 0;
    padding: 5px;
    text-align: center;
}
#search-list ul li figure img{
    width: 70px;
    height: 70px;
}
#search-list ul li figure figcaption{

}
#search-list ul li figure figcaption strong,
#search-list ul li figure figcaption b{
    display: block;
    width: 100%;
    text-align: left;
}
#search-list ul li figure figcaption strong{
    font-weight: normal;
}
.alert, .searching{
    display: block;
    width: 100%;
    padding-top: 10%;
}
.searching > div{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.searching > div > i{
    font-size: 2rem;
}
.alert strong, .searching strong{
    display: block;
    width: 100%;
    text-align: center;
    color: red;
    margin-top: 2rem;
}