<form id="search-input" 
[@search-position]="animationState.searchState" (@search-position.start)="windowTopScroll($event)">
  <input type="text" placeholder="브랜드 또는 모델명 입력" (keyup)="onChangeSearchKeyword($event)" focus>
</form>
<div id="search-list" [@result-background]="animationState.searchState" *ngIf="!switch.no_search_result">
  <ul>
    <li *ngFor="let m of search.result" (click)="display(m.id)" [@searchResultAnimate]>
      <figure>
        <img src="http://static.soundpick.net/eartip/product/{{m.image_file}}">
        <figcaption>
          <strong>{{m.brand.name}}</strong>
          <b>{{m.name}}</b>
        </figcaption>
      </figure>
    </li>
  </ul>
  <div class="searching" *ngIf="switch.is_searching">
    <div>
      <i class="fonti um-spinner-brush-alt um-spin"></i>
      <strong>검색중입니다</strong>
    </div>
  </div>
  <div class="alert" *ngIf="switch.no_search_result">
    <strong>검색결과가 없습니다.</strong>
  </div>
</div>