:host{
    position: absolute;
    display: block;
    height: 70%;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    top : 0;
    left : 0;
    transition: 0.3s;
    -webkit-overflow-scrolling: touch;
}
#eartip-list{
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
}
#eartip-list *{
    -webkit-user-drag:none;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    cursor: -webkit-grabbing;
}