aside{
    width: 100%;
    height: 48px;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
}
aside .left,
aside .center,
aside .right,
{
    display: inline-block;
    width: 33%;
    height: 100%;
}
aside .left{
    text-align: left;
}
aside .center{
    text-align: center;
}
aside .right{
    text-align: right;
}
aside .left .complypick-logo{
    height: 26px;
    margin: 10px 10px;
}
#start{
    text-align: center;
}
#start a{
    text-decoration: none;
}
#start a,
#start a:hover,
#start a:visited,
#start a:link,
#start a:active
{
    color: #0070c9;
    font-size: 22px;
    text-decoration: underline;
}

#notice{

}
#notice-list{
    display: block;
    margin: 0;
    padding: 0;
}
#notice-list li{
    display: inline-block;
    width: 90%;
    max-width: 640px;
    list-style: none;
    height: 100%;
    border: 1px solid black;
}
#intro{
    position: relative;
    width: 100%;
    min-height: 70%;
    background-color: #f3f3f3;
    text-align: center;
    background-image: url('/assets/images/comply-mixed.png');
    background-size: auto 65%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-position-y: 90%;
    padding-top: 3%;
}
#intro h1{
    text-align: center;
    margin: 10px;
    margin-bottom: 30px;
}
#intro h1 #comply-logo{
    width: 250px;
    max-width: 50%;
}
#intro #start strong{
    display: block;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
}
#intro #start a{
    font-size: 1.3rem;
    padding: 0.5rem 2rem;
    border-radius: 2.3rem;
    background-color: #4F5555;
    color: #FBFBFB;
    font-weight: 400;
    text-decoration: none;
    vertical-align: text-bottom;
    box-shadow: 2px 3px 10px 0 rgba(0, 0, 0, 0.35);
}
@media (max-width:640px){
    #intro #start a{
        font-size: 1rem;
    }
}
#intro #start a i{
    display: inline-block;
    vertical-align: text-top;
    height: 1.3rem;
}
#intro #start a i img{
    height: 100%;
}
#intro #start a:hover{
    text-decoration: underline;
}
#intro .comply-text{
    height: 1.5ex;
}
#ads{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1350px;
    margin: 0 auto;
}
#ads .panel{
    display: block;
    background-color: #f3f3f3;
    width: 50%;
    flex: 1;
    flex-basis: 640px;
    margin: 10px;
}
#ads .panel strong{
    display: block;
    text-align: center;
    font-size: 1.375rem;
    font-weight: 300;
    margin: 10px;
}
#ads .panel h2{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin: 10px;
}
#ads .panel h2 small{
    font-weight: 300;
}
#ads .panel .links{
    display: block;
    text-align: center;
}
#ads .panel .links a{
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 300;
    text-decoration: none;
    margin: 0 20px;
    color : #0070c9;
}
#ads .panel .links a:hover{
    text-decoration: underline;
}
#ads .panel .product-image{
    width: 100%;
    text-align: center;
    padding: 30px 10px;
}
#ads .panel .product-image img{
    width: 50%;
    max-width: 500px;
}
#help{
    text-align: center;
    margin: 30px 0;
    padding: 50px 1%;
    background-color: #e4e4e4;
}
#help strong{
    display: block;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    margin: 10px;
}
#help a{
    display: inline-block;
    margin: 10px;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 300;
    text-decoration: none;
    color: #0070c9;
}
#help a:hover{
    text-decoration: underline;
}
#help a#phone i{
    color: #333;
}
#help a#kakao i{
    color: #3C1E1E;
}
#help a#naver i{
    color: #00C73C;
}
#help p{
    text-align: center;
}
#help p img{
    vertical-align: text-top;
    height: 1.5rem;
}
#help p span{
    vertical-align: text-top;
    font-size: 1.3rem;
}