<aside>
  <div class="left">
    <img class="complypick-logo" src="assets/images/complypick-logo.png">
  </div>
  <div class="center">
    
  </div>
  <div class="right">

  </div>
</aside>
<section id="intro">
  <div id="start">
    <h1>
      <img id="comply-logo" src="assets/images/comply-title.png">
    </h1>
    <a routerLink="/match">
    <i class="check-text">
      <img src="assets/images/check-text.png">  
    </i> 
    나에게 맞는 Foam Tip을 찾아보세요
  </a>
  </div>
</section>
<section id="ads">
  <div class="panel" id="">
    <strong>HEAR MORE</strong>
    <h2>Audio Pro <small>with WaxGuard™</small></h2>
    <div class="links">
      <a routerLink="/document/audiopro">
        더 알아보기 >
      </a>
      <a href="http://www.complypick.com/goods/view?no=20">
        구입하기 >
      </a>
    </div>
    <div class="product-image">
      <img src="assets/images/product-audiopro.png">
    </div>
  </div>
  <div class="panel" id="">
    <strong>MOVE FREELY</strong>
    <h2>Sport Pro <small>with SweatGuard™</small></h2>
    <div class="links">
      <a routerLink="/document/sportspro">
        더 알아보기 >
      </a>
      <a href="http://www.complypick.com/goods/view?no=22">
        구입하기 >
      </a>
    </div>
    <div class="product-image">
      <img src="assets/images/product-sportpro.png">
    </div>
  </div>
  <div class="panel" id="">
    <strong>LISTEN LONGER</strong>
    <h2>Variety Pack Pro</h2>
    <div class="links">
      <a routerLink="/document/varietypack">
        더 알아보기 >
      </a>
      <a href="http://www.complypick.com/goods/view?no=23">
        구입하기 >
      </a>
    </div>
    <div class="product-image">
      <img src="assets/images/product-varietypack.png">
    </div>
  </div>
  <div class="panel" id="">
    <strong>LISTEN COMPOTABLE</strong>
    <h2>Truly Wireless Pro <small>with SweatGuard™</small></h2>
    <div class="links">
      <a routerLink="/document/tw">
        더 알아보기 >
      </a>
      <a href="http://www.complypick.com/goods/view?no=18">
        구입하기 >
      </a>
    </div>
    <div class="product-image">
      <img src="assets/images/product-tw.png">
    </div>
  </div>
  <div class="panel" id="">
    <strong>MOVE FREELY</strong>
    <h2>Sport Pro <small>for <span style="color:red;">BEATS®</span></small></h2>
    <div class="links">
      <a routerLink="/document/sportsproforbeats">
        더 알아보기 >
      </a>
      <a href="http://complypick.com/goods/view?no=24">
        구입하기 >
      </a>
    </div>
    <div class="product-image">
      <img src="assets/images/product-sportsproforbeats.png">
    </div>
  </div>
  <div class="panel" id="">
    <strong>HEAR MORE</strong>
    <h2>Isolation T-167 <small>for Sennheiser™</small></h2>
    <div class="links">
      <a routerLink="/document/t167">
        더 알아보기 >
      </a>
      <a href="http://www.complypick.com/goods/view?no=17">
        구입하기 >
      </a>
    </div>
    <div class="product-image">
      <img src="assets/images/product-t167.png">
    </div>
  </div>
  <div class="panel" id="">
    <strong>HEAR MORE</strong>
    <h2>Isolation T-100</h2>
    <div class="links">
      <a routerLink="/document/tseries">
        더 알아보기 >
      </a>
      <a href="http://www.complypick.com/goods/view?no=1">
        구입하기 >
      </a>
    </div>
    <div class="product-image">
      <img src="assets/images/product-t100.png">
    </div>
  </div>
</section>
<section id="help">
    <strong>문의사항이 있으신가요?</strong>
    <p>
      <img src="assets/images/complypick-bk-logo.png">
      <span>에 직접 문의하실 수 있습니다.</span>
    </p>
    <a href="tel:07078140007" id="phone">
    <i class="fonti um-phone-square"></i>
    070-7814-0007
  </a>
    <a href="http://pf.kakao.com/_qyVWu" id="kakao" target="_blank">
    <i class="fonti um-kakao-talk-o"></i>
    카카오톡 플러스친구
  </a>
    <a href="https://talk.naver.com/ct/wc9tzn" id="naver" target="_blank">
    <i class="fonti um-naver"></i>
    네이버톡톡
  </a>
</section>